{% extends 'base.html' %}

{% block title %}User status{% endblock %}

{% block header %}
<div class="row">
    <div class="col-sm">
      <h1>Status Page</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm">
    {% if current_user.is_authenticated %}
      <p>Your details are as follows</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Details</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ current_user.name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ current_user.email }}</td>
          </tr>
          <tr>
            <td>Website</td>
            <td>{{ current_user.website }}</td>
          </tr>
        </tbody>
      </table>  
    {% else %}
      <p>No details to show for unauthenticated users.</p>
      <p>Click <a href="{{ url_for('auth_bp.signup') }}">here</a> to sign up, or <a href="{{ url_for('auth_bp.login') }}">here</a> to login</p>
      {% endif %}



  </div>
</div>
{% endblock %}